// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Signika:300&subset=latin,latin-ext);

$pidi-screen: emCalc(480px);
$pidi: "only screen and (min-width:"#{$pidi-screen}")";

strong {
    font-weight: 600;
}

@import "menu";

/* ***************** */
/* ScrollUp          */
/* ***************** */

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;  /* Height of image */
    width: 38px; /* Width of image */
    background: url(../img/top.png) no-repeat;
    text-indent: -10000000px;
}

/* ***************** */
/* Ikony             */
/* ***************** */

.icon {
    width: 33px;
    height: 33px;
}

/* ***************** */
/* Stylování stránky */
/* ***************** */

@media #{$pidi} {
    img.left, figure.left {
        margin-right: 1.3em;
        margin-bottom: 1.3em;
    }

    img.right, figure.right {
        margin-left: 1.3em;
        margin-bottom: 1.3em;
    }
}

body > article {
    background: #fff;
}

a#kotva {
    display: block;
    padding-top: 120px;
    margin-top: -120px;
}

article {
    //margin-bottom: 2em;

    .border {
            border: 1px solid $clouds;
            padding: 5px;
            vertical-align: bottom;
        }

    .fullw {
        width: 100%;
        height: auto;
    }
}

.odsad, .podklad, .uvod, .uvodni-slovo, .warning, .errors, .tips, .loginform {
    padding: 0.5em 0 0.5em 0;

    @media #{$small} {
        padding-top: 1.6em;
    }
}

.uvod {
    background: $clouds;
}

.podklad {
    //background: $clouds;
    //background: rgba(44, 62, 80, 0.7);
    //background: rgba(38, 51, 67, 0.7);
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    position: absolute;
    width: 100%;

    h1 {
        color: #fff;
    }

    p {
        color: #fff;
    }
}

.errors {
    background: $grey;
    padding-bottom: 0;
    color: #fff;
}

.warning {
    background: $alizarin;
    color: #fff;
}

.tips {
    margin-top: 2em;
    background: $turquoise;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline;
    }

    h4 {
        color: #fff;
    }
}

.loginform {
    background: $grey;
}

.obsah, .galeria, .novinka-text {
    padding-top: 2em;
}

.mensi {
    p {
        font-size: 0.95em;
    }
}

.albatrosy {
    img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 37.5em) {
    .podklad {
        padding: 1.6em 0 0.5em 0;
        font-size: .95em;
    }

    .nehody {
        h1 {
            font-size: 1.7em;
        }
    }
}

.uvodni-slovo p {
    font-size: emCalc(14px);
}

table {
    width: 100%;
}

/* ***************** */
/* Hlavička          */
/* ***************** */

.head-photo {
    width: 100%;
    //height: 600px;
    padding-top: 50px;
    padding-bottom: 50%;
    position: relative;

    z-index: -5;

    img {
        width: 100%;
        vertical-align: bottom;
        position: fixed;
    }
}

.head-photo.no-pic {
    background-color: $belizehole;

    height: 100px;
    padding-bottom: 0;
    padding-top: 170px;

    @media #{$small} {
        height: 175px;
        padding-top: 250px;
        background-position: 50% 0;
    }

    .podklad {
        background: none;
    }

    h1 {
        margin-bottom: 0.3em;
    }
}

.head-photo.odkazy, .head-photo.downloads {
    background: $wetasphalt url(../img/header-photo-forum.png) no-repeat 80% 0;
}

.head-photo.hgaleria {
    background: $belizehole url(../img/header-photo-foto.png) no-repeat 80% 0;
}

.head-photo.login {
    background: $greensea url(../img/header-photo-zelena.png) no-repeat 80% 0;
}

.head-photo.forum {
    background: $belizehole url(../img/header-photo-forum.png) no-repeat 80% 0;
}

.head-photo.novinky, .head-photo.novinka-detail {
    background: $belizehole url(../img/header-photo-modra.png) no-repeat 80% 0;
}

.head-photo.video {
    background: $belizehole url(../img/header-photo-video.png) no-repeat 80% 0;
}

/* ***************** */
/* Výpis fóra        */
/* ***************** */

.forum-vypis {
    padding-bottom: 2em;

    @media #{$small} {
        padding-bottom: 3em;
    }

    textarea {
        min-height: 10em;
        /*
        @media #{$small} {
            min-height: 10em;
        }
        */
    }

    .gb_post {
        font-size: 0.8em;
        margin-bottom: 2em;

        @media #{$small} {
            font-size: 0.9em;
        }

        .avatar {
            text-align: center;

            img {
                margin-bottom: 0.5em;

                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
            }

            .meno {
                display: block;
                font-size: 0.8em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }

            .datum {
                display: block;
                font-size: 0.7em;
                color: $concrete;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    .pagination {
        float: right;
        margin: 2em auto 0 auto;
    }
}

/* ***************** */
/* Výpis novinek     */
/* ***************** */

.novinky-vypis {
    margin-bottom: 2em;
}

.novinka-text {
    span.datum {
        color: $concrete;
        display: inline-block;
        font-size: 0.9em;
    }
}

.novinka-text {
    img.novinka {
        margin-bottom: 1em;
    }
}

/* ************************ */
/* Hlavička detailu novinky */
/* ************************ */

.head-photo.novinka-detail {
    h1 {
        padding-bottom: 0em;
        margin-bottom: 0em;
    }

    span.datum {
        color: $grey;
        font-size: smaller;

        display: inline-block;
        margin-bottom: 1em;
    }
}


/* ***************** */
/* Ke stažení        */
/* ***************** */

.dwnld {

    margin-bottom: 2em;

    a {
        font-size: 0.9em;
        line-height: 1.3em;
        text-decoration: underline;
    }
}

/* ***************** */
/* Walkaround        */
/* ***************** */

.walkaround--container {
    position: relative;

    .podklad {
        z-index: 500;
    }
}

.walkaround {
    padding: 35px 0;
    background-color: #eee;

    .threesixty {
        position: relative;
        max-width: 70em;
        margin: 0 auto;

        background-color: #eee;
    }

    .threesixty-frame-notes {
        position: relative;
        //z-index: 5000;

        a.icon {
            position: absolute;
            display: block;
        }

        /* Vychozi pozice pro jednotlive body na albikach */
        .l-agregaty-spicka {}
        .snimac-namrazy {}
        .predni-podvozek-sachta {}
        .predni-podvozek-noha {}
        .snimac-nabeh {}
        .kanon-gs23 {}
        .stupacky-kabiny {}
        //.p-kabina { margin: 26% 0 0 36%; }
        //.z-kabina { margin: 23.5% 0 0 43.5%; }
        .brzdici-stity {}
        .vstup-vzduchu {}
        .hlavni-podvozek-noha {}
        .zavesnik {}
        .p-kontrolni-otvory {}
        .zapisovac {}
        .smerovka {}
        .vyskovka {}
        .tryska {}
        .signalni-rakety {}
        .agregat-motora {}
        .agregat-klimatizace {}
        .apu {}
        .klapky {}
        .hlavni-podvozek-sachta {}
        .klapky {}
        .pitotka {}
        .sedadlo {}
        .p-agregaty-spicka {}
    }

    p.loading {
        min-height: 4em;
        text-align: center;
        padding: 2em 0 2em 0;
        margin-bottom: 0;
    }
}

/* ***************** */
/* Galeria           */
/* ***************** */

.img-container {
    text-align: center;
    position: relative;

    width: 33%;
    height: 33%;

    @media #{$small} {
        width: 25%;
        height: 25%;
    }

    float: left;
    overflow: hidden;

    a {
        color: white;
    }

    img {
        position: relative;
        vertical-align: bottom;
    }

    em {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1em;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
}

/* ***************** */
/* Popiska obrázku   */
/* ***************** */

p.fig-caption, figcaption {
    font-size: emCalc(13px);
    font-weight: 400;
    margin-top: .325em;
}

.uvodni-slovo p.fig-caption {
    font-size: emCalc(11px);
}

/* ***************** */
/* Pruhy patičky     */
/* ***************** */

footer .novinky, footer .social, footer .copyright {
    color: #fff;
    padding: emCalc(30px) 0;
    width: 100%;
    line-height: 1.2em;
}

footer .novinky span, footer .social span, footer .copyright span {
    font-size: emCalc(12px);
}

footer .novinky h2, footer .social h2, footer .copyright h2 {
    font-size: emCalc(26px);
}

footer .social h2 {
    color: $lightblue;
    padding-left: 43px;
}

footer .social {
    background-color: $midnightblue;
}

/* ***************** */
/* Novinky v patičce */
/* ***************** */

footer .novinky {
    background-color: $wetasphalt;
}

footer .novinky h2 {
    color: $turquoise;
}

footer .novinky article {
    padding-left: 43px;
}

footer .novinky h3 {
    font-size: emCalc(20px);
    margin-bottom: 0px;
}

footer .novinky h3,
footer .novinky h3 a,
footer .novinky h3 a:hover,
footer .novinky p a,
footer .novinky p a:hover {
    color: $lightblue;
}

footer .novinky p a, footer .novinky p a:hover, footer .novinky h3 a:hover {
    text-decoration: underline;
}

footer .novinky .datum {
    font-size: emCalc(11px);
    color: $silver;
}

footer .novinky p {
    font-size: emCalc(13px);
}

/* ***************** */
/* Adresa            */
/* ***************** */

footer address {
    font-style: normal;
    padding-left: 45px;
    font-size: emCalc(14px);
}

footer address a, footer address a:hover {
    color: $lightblue;
    text-decoration: underline;
}

/* ***************** */
/* Copyright         */
/* ***************** */

footer .copyright {
    background-color: $midnight;
    font-weight: 300;
}

footer .copyright a {
    color: #fff;
    font-weight: 600;
}

/* ***************** */
/* Facebook          */
/* ***************** */

footer .fb-like-box iframe {
    max-width: 80% !important;
    margin-left: 35px;
}

footer .fb-like-box iframe img {
  width: 30px !important;
  height: 30px !important;
}

/* ***************** */
/* Ankety            */
/* ***************** */

footer .anketa form {
    padding-left: 43px;
    font-size: emCalc(14px);
}

footer .anketa form > .otazka {
    font-weight: 600;
}

footer .anketa form > dl > dt {
    font-weight: normal;
}

footer .anketa form > dl > dd > i {
    display: block;
    font-size: .95em;
    font-style: normal;

    height: 1.5em;
    line-height: 1.5em;

    padding: 0 emCalc(5px);

    overflow: hidden;

    background: $turquoise;

    @include radius()
}
