// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "menu";

@font-face {
    font-family: 'verb_regularregular';
    src: url('../fonts/VerbRegular-webfont.eot');
    src: url('../fonts/VerbRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbRegular-webfont.woff') format('woff'),
         url('../fonts/VerbRegular-webfont.ttf') format('truetype'),
         url('../fonts/VerbRegular-webfont.svg#verb_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_regularitalic';
    src: url('../fonts/VerbRegular-Italic-webfont.eot');
    src: url('../fonts/VerbRegular-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbRegular-Italic-webfont.woff') format('woff'),
         url('../fonts/VerbRegular-Italic-webfont.ttf') format('truetype'),
         url('../fonts/VerbRegular-Italic-webfont.svg#verb_regularitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_mediumregular';
    src: url('../fonts/VerbMedium-webfont.eot');
    src: url('../fonts/VerbMedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbMedium-webfont.woff') format('woff'),
         url('../fonts/VerbMedium-webfont.ttf') format('truetype'),
         url('../fonts/VerbMedium-webfont.svg#verb_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_mediumitalic';
    src: url('../fonts/VerbMedium-Italic-webfont.eot');
    src: url('../fonts/VerbMedium-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbMedium-Italic-webfont.woff') format('woff'),
         url('../fonts/VerbMedium-Italic-webfont.ttf') format('truetype'),
         url('../fonts/VerbMedium-Italic-webfont.svg#verb_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_lightregular';
    src: url('../fonts/VerbLight-webfont.eot');
    src: url('../fonts/VerbLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbLight-webfont.woff') format('woff'),
         url('../fonts/VerbLight-webfont.ttf') format('truetype'),
         url('../fonts/VerbLight-webfont.svg#verb_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_lightitalic';
    src: url('../fonts/VerbLight-Italic-webfont.eot');
    src: url('../fonts/VerbLight-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbLight-Italic-webfont.woff') format('woff'),
         url('../fonts/VerbLight-Italic-webfont.ttf') format('truetype'),
         url('../fonts/VerbLight-Italic-webfont.svg#verb_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_extralightregular';
    src: url('../fonts/VerbExtralight-webfont.eot');
    src: url('../fonts/VerbExtralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbExtralight-webfont.woff') format('woff'),
         url('../fonts/VerbExtralight-webfont.ttf') format('truetype'),
         url('../fonts/VerbExtralight-webfont.svg#verb_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'verb_extralightitalic';
    src: url('../fonts/VerbExtralight-Italic-webfont.eot');
    src: url('../fonts/VerbExtralight-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbExtralight-Italic-webfont.woff') format('woff'),
         url('../fonts/VerbExtralight-Italic-webfont.ttf') format('truetype'),
         url('../fonts/VerbExtralight-Italic-webfont.svg#verb_extralightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Vlastní proměnné a gradienty */
.prechod-sedy {
    background: #FFFFFF; /* Old browsers */
    background: -moz-linear-gradient(top, #ecf0f1 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f1), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ecf0f1 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ecf0f1 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ecf0f1 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ecf0f1 0%,#ffffff 100%);
}



/* Main layout */

.header {
    position: relative;
}

.header {
    height: emCalc(170px);
    text-align: center;
    padding: emCalc(20px) 0;
}

.header img {
    margin: 0 auto;
}

.login-box {
    position: absolute;
    top: emCalc(20px);
    right: emCalc(20px);
}
