// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin-ext);

@import "menu";

/* Vlastní proměnné a gradienty */
.prechod-sedy {
    background: #FFFFFF; /* Old browsers */
    background: -moz-linear-gradient(top, #ecf0f1 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f1), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ecf0f1 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ecf0f1 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ecf0f1 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ecf0f1 0%,#ffffff 100%);
}

/* Main layout */

.header {
    position: relative;
}

.header {
    height: emCalc(170px);
    text-align: center;
    padding: emCalc(20px) 0;
}

.header img {
    margin: 0 auto;
}

.login-box {
    position: absolute;
    top: emCalc(20px);
    right: emCalc(20px);
}

.cbp-hrmenu > ul > li > a.home {
    color: #34495e;
    padding: 0;
    font-size: 1.4em;
    font-weight: 300;
    background: url('../img/header-letadlo.png') no-repeat 100% 50%;
    width: 200px;
}
