<footer>
    <section class="novinky">
        <div class="row">
            <div class="large-12 columns">
                <h2>Novinky</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                a
            </div>
            <div class="large-4 columns">
                b
            </div>
            <div class="large-4 columns">
                c
            </div>
        </div>
    </section>
    <section class="kontakt">
        <div class="row">
            <div class="large-4 columns">
                <h2 class="icon icon-anketa">Anketa</h2>
                Pokus
            </div>
            <div class="large-4 columns">
                <h2 class="icon icon-l39-s">Facebook</h2>
                Pokus
            </div>
            <div class="large-4 columns">
                <h2 class="icon icon-mail">Konktakt</h2>
                Pokus
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="row">
            <div class="large-6 large-offset-6 small-12 columns">
                <span><a href="#">Informácie o webe</a><br>
                (c) 2nd SQN, TFW Sliač, 2009-2013, All rights are reserved</span>
            </div>
        </div>
    </section>
</footer>
