<footer>
    <section class="novinky">
        <div class="row">
            <div class="large-12 columns">
                <h2>Novinky</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <h3>Nové video</h3>
                <span class="datum">04.07.2013</span>
                <p class="vytah">Do sekcii video sme pridali nový kúsok z dielne Peťa Macka, ide o zostrihané video zo skupinových letov dúfam že sa Vám bude páčiť...</p>
            </div>
            <div class="large-4 columns">
                <h3>Air Power 13</h3>
                <span class="datum">24.06.2013</span>
                <p class="vytah">V dňoch 28 a 29.6 2013 teda v piatok a v sobotu tento týždeň nás môžete stretnúť na akcii Air Power 13 na letisku Zeltweg v Rakúsku. Odlietame v stredu a mašinku ešte upresníme. Tešíme sa na Vašu návštevu na statike pri našom lietadle.</p>
            </div>
            <div class="large-4 columns">
                <h3>Letecké dni</h3>
                <span class="datum">21.06.2013</span>
                <p class="vytah">Zajtra v sobotu 22.06.2013 bude naša letka participovať na dvoch leteckých dňoch a to na Leteckom dni Žilinskej univerzity 2013 na letisku v Dolnom Hričove a na Leteckej Show 2013 v Senici. Na obidvoch akciách sa predstavíme preletom dvojice lietadiel L-39. Takže zajtra dovidenia vo vzduchu...</p>
            </div>
            <div class="large-4 columns">
                <h3>RNLAF Airshow</h3>
                <span class="datum">11.06.2013</span>
                <p class="vytah">Chalanov z našej letky môžete stretnúť tento víkend na akcii RNLAF AIRSHOW, na leteckej základni Volkel v Holandsku. Poletia na lietadle L-39 CM s evidenčným číslom 5301. Dúfame že to nedopadne ako Open Day Čáslav :) Tešíme sa na Vašu návštevu na statickej ukážke.</p>
            </div>
            <div class="large-4 columns">
                <h3>Nový album</h3>
                <span class="datum">02.06.2013</span>
                <p class="vytah">Do našej fotogalérie sme vložili nový album 2.SQN by Ondrej Maliniak. V albume sú fotky ktoré Ondro nafotil počas lietaní z prvej polovice tohoto roku. Ako vždy fotky sú perfektné. Ďakujeme.</p>
            </div>
            <div class="large-4 columns">
                <h3>Oped day Čáslav...</h3>
                <span class="datum">09.05.2013</span>
                <p class="vytah">Zástupcov našej letky môžete zhliadnuť na akcii Open Day Čáslav ktorá sa bude konať dňa 25. mája na letisku Čáslav:) Naša letka bude participovať na akcii statickou ukážkou lietadla L-39 CM, predbežne to bude lietadlo trupového čísla 5301. Viac info o akcii na webe www.openday2013.cz. Jedna prosba, nelievajte prosím Vás do našich pilotov pivo pretože večer letia domov :)</p>
            </div>
        </div>
    </section>
    <section class="social">
        <div class="row">
            <div class="large-4 columns anketa">
                <h2 class="icon icon-anketa">Anketa</h2>
                <p class="otazka">Máte záujem o kalendár 2.SQN pre rok 2013?</p>
                <dl>
                    <dt> <input type="radio" name="odp" value="1"> Určite áno</dt>
                    <dd> <i style="display: block; width:86%; height:15px; background: #bdc3c7"></i>86%</dd>

                    <dt> <input type="radio" name="odp" value="2"> Ani nie</dt>
                    <dd> <i style="display: block; width:14%; height:15px; background: #bdc3c7"></i>14%</dd>
                </dl>
            </div>
            <div class="large-4 columns">
                <h2 class="icon icon-l39-s">Facebook</h2>
                <div class="fb-like-box" data-href="http://www.facebook.com/2nd.SQN.Sliac" data-width="292" data-show-faces="true" data-colorscheme="dark" data-stream="false" data-show-border="false" data-header="false"></div>
            </div>
            <div class="large-4 columns kontakt">
                <h2 class="icon icon-mail">Kontakt</h2>
                <address>
                <strong>VÚ 4977 Sliač,</strong> <br>
                ČSA 1, 962 31 Sliač<br><br>

                <strong>tel.:</strong> +421 960 452 009<br>
                <strong>email:</strong> <a href="mailto:webmaster@2sqn.sk">webmaster@2sqn.sk</a>
                </address>
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="row">
            <div class="large-6 large-offset-6 small-12 columns">
                <span><a href="#">Informácie o webe</a><br>
                (c) 2nd SQN, TFW Sliač, 2009-2013, All rights are reserved</span>
            </div>
        </div>
    </section>
</footer>
