<header>
    <div class="prechod-sedy">
        <div class="row header">
            <div class="large-12 columns logo">
                {{ "logo-2sqn.png" | asset_url | image_tag }}
            </div>
            <div class="login-box">
                <a href="###">na stiahnutie</a>
                <a href="#">prihlásiť</a>
            </div>
        </div>
    </div>
        <div class="menu-back">
            <div class="row">
                <nav id="cbp-hrmenu" class="cbp-hrmenu large-12 columns">
                    <ul>
                        <li class="homelink">
                            <a class="home" href="#">2SQN TFW Sliač</a>
                        </li>
                        <li>
                            <a href="#">novinky</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown">o letke</a>
                            <div class="cbp-hrsub">
                                <div class="row">
                                    <div class="large-4 small-12 columns">
                                        <div class="inner">
                                        <h4>História letky</h4>
                                        <ul>
                                            <li><a href="#">Velitelia letky</a></li>
                                            <li><a href="#">Lietajúci personál</a></li>
                                            <li><a href="#">Štábni piloti</a></li>
                                            <li><a href="#">Technický a zabezpečujúci personál</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <div class="inner">
                                        <h4>L-39 albatros</h4>
                                        <ul>
                                            <li><a href="#">Stručný popis</a></li>
                                            <li><a href="#">Slovenské Albatrosy</a></li>
                                            <li><a href="#">L-39CM/ZAM walkaround</a></li>
                                            <li><a href="#">Nehody L-39</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <div class="inner">
                                        <h4>LZ Sliač</h4>
                                        <ul>
                                            <li><a href="#">História</a></li>
                                            <li><a href="#">Rekonštrukcia letiska</a></li>
                                            <li><a href="#">Údaje letiska</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub row -->
                            </div><!-- /cbp-hrsub -->
                        </li>
                        <li>
                            <a href="#">galéria</a>
                        </li>
                        <li>
                            <a href="#">fan shop</a>
                        </li>
                        <li>
                            <a href="#">odkazy</a>
                        </li>
                        <li>
                            <a href="#">fórum</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
</header>
