.icon-l39-m {
    background-image: url('../img/icons/l39-m.png');
    background-repeat: no-repeat;
}
.icon-l39-s {
    background-image: url('../img/icons/l39-s.png');
    background-repeat: no-repeat;
}
.icon-mail {
    background-image: url('../img/icons/mail.png');
    background-repeat: no-repeat;
}
.icon-stats {
    background-image: url('../img/icons/stats.png');
    background-repeat: no-repeat;
}
.icon-anketa {
    background-image: url('../img/icons/anketa.png');
    background-repeat: no-repeat;
}
.icon-l39 {
    background-image: url('../img/icons/l39.png');
    background-repeat: no-repeat;
}
.icon-i-plane-inverted {
    background-image: url('../img/icons/i-plane-inverted.png');
    background-repeat: no-repeat;
}
.icon-i-w-spot {
    background-image: url('../img/icons/i-w-spot.png');
    background-repeat: no-repeat;
}
.icon-i-w-spot-over {
    background-image: url('../img/icons/i-w-spot-over.png');
    background-repeat: no-repeat;
}
