{% block content %}
    <section class="podklad">
        <div class="row">
            <div class="large-10 columns">
                <p><strong>2.&nbsp;letka, pôsobiaca v zmiešanom leteckom krídle Sliač, zabezpečuje základný a&nbsp;pokračovací bojový výcvik. Piloti absolvujú cvičenia jednoduchej techniky pilotovania, navigačné lety, lety vyššej techniky pilotovania, lety skupín, lety na&nbsp;ničenie vzdušných cieľov a&nbsp;pozemných cieľov pomocou predsunutých leteckých navádzačov (FAC).</strong></p>

                <p>Letka je zložená z&nbsp;veliteľstva letky, štábu letky a&nbsp;dvoch rojov. Štáb letky tvorí náčelník štábu, výkonný poddôstojník a&nbsp;administratívny pracovník. Zástupcovi veliteľa pre ILS sú podriadení členovia skupín špecialistov pre výzbroj, rádio, elektrické systémy, skupiny opráv, technického zabezpečenia a&nbsp;obsluhy trenažéra. Roje letky tvoria velitelia rojov, kapitáni lietadiel, starší piloti, piloti lietadiel, technici roja, starší technici a&nbsp;technici.</p>
            </div>
            <div class="large-2 columns">
                {{ "logo-2sqn.png" | asset_url | image_tag }}
            </div>
        </div>
    </section>
    <section class="uvodni-slovo">
        <div class="row">
            <div class="large-2 columns">
                {{ "lolo.jpg" | asset_url | image_tag }}
                <p class="fig-caption text-center">pplk. Ing. Roman Poláček, veliteľ 2. letky</p>
            </div>
            <div class="large-10 columns">
                <p>Vážení priaznivci lietania, dovoľte mi privítať Vás na&nbsp;týchto webových stránkach venovaných lietaniu, lietadlám a&nbsp;ľuďom, ktorým vôňa spáleného leteckého paliva natrvalo učarovala. Tieto stránky budú najmä o&nbsp;ľuďoch a&nbsp;pre ľudí, ktorí prepadli vášni zvanej lietanie či už z&nbsp;profesijného, alebo záujmového hľadiska. Ako veliteľ letky zodpovedný za výcvik lietajúceho personálu viem aké dôležité je mať okolo seba ľudí, na&nbsp;ktorých sa dá spoľahnúť a&nbsp;veriť im. Som nesmierne šťastný, že v&nbsp;osobách lietajúceho a&nbsp;technického personálu 2.&nbsp;letky takých ľudí okolo seba mám a&nbsp;som hrdý na&nbsp;to, že môžem byť ich veliteľom. Ďakujem Vám všetkým za Vašu obetavú prácu a&nbsp;prístup k&nbsp;plneniu služobných povinností.</p>

                <p>Vám priaznivci a&nbsp;nadšenci lietania, ďakujem za Váš neutíchajúci záujem a&nbsp;podporu, ktorá Nás všetkých príslušníkov 2.&nbsp;letky veľmi teší a&nbsp;je pre nás zhodnotením našej kvalitnej práce. Pevne verím, že všetci leteckí fanúšikovia si tieto webové stránky obľúbia a&nbsp;budú miestom veľa ich návštev.</p>

                <p>Na záver mi dovoľte použiť známu leteckú frázu ako spoločné prianie nám všetkým:</p>
                <p class="text-center">„Koľko vzletov, toľko šťastných pristátí...“</p>
            </div>
        </div>
    </section>
{% endblock %}
